


<div class="container">
  <page-title></page-title>
    <div class="row justify-content-center">
      <div class="col-3">
        <movie-list></movie-list>
      </div>
  
      <div class="col-3">
        <chores-list></chores-list>
      </div>
  
      <div class="col-3">
        <fav-photos></fav-photos>
      </div>
    </div>
    <hr>
    <fav-links></fav-links>
  </div>
  


<img alt = "blonde, redhead, brunette" src = "https://media0.giphy.com/media/fS9PCxQYG0ULu/giphy.gif?cid=ecf05e47tuegqsf9l73mniaumbcq4muaqn36872te7nzdau4&rid=giphy.gif&ct=g">
